@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    height: 550px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-image: url(./zomato.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    object-fit:cover;
    
}
.home{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    
}
.homeicons1{
  flex-grow: 0.3;
 
}
a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
h1{
    font-size: 100px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: white;
}
#zom{
    font-size: 28px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subdiv{
    width: 600px;
    column-gap: 45px;
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 60px;
    gap: 80px;
    background-color: rgb(255, 255, 255);
}
.loc{
    color: rgb(137, 128, 128);
}
.sear{
    color: rgb(137, 128, 128);
}
.main{
    display: flex;
    flex-direction: row;
    margin: 40px 100px;
    justify-content: center;
    align-content: center;
    column-gap: 20px;
}
.img1,.img2,.img3{
    border: 1px solid black;
    border-radius: 20px;
    
}
#im1,#im2,#im3{
    border-radius: 20px 20px 0px 0px;
}
#he3{
    padding-top: 8px;
   padding-left: 15px;
   padding-bottom: 10px;
   color: rgb(78, 76, 76);
   
}
#he4{
    padding-left: 15px;
    padding-bottom: 10px;
    color: rgb(116, 111, 111);
}
.collections {
    margin: 60px 100px;
    font-family: 'Open Sans', sans-serif;
}

.collections-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.collections-header h2 {
    font-size: 32px;
    color: #333;
}

.collections-header p {
    font-size: 16px;
    color: #666;
}

.all-collections {
    margin-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(243, 49, 49);
    font-weight: bold;
}

.collection-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 250px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    color: white;
}

.card-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-text p {
    font-size: 14px;
    font-weight: bold;
}


