* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f9f9f9;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-auto-rows: 180px; /* base row height */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
.img1 {
   grid-column: 1 / 2; grid-row: 1 / 3; }   /* Tall left */
.img2 {  grid-column: 2 / 4; grid-row: 1 / 2; }   /* Wide top middle */
.img3 { grid-column: 4 / 5; grid-row: 1 / 3; }   /* Tall right */
.img4 { grid-column: 2 / 3; grid-row: 2 / 3; }   /* small box */
.img5 { grid-column: 3 / 4; grid-row: 2 / 3; }   /* small box */
.img6 { grid-column: 1 / 2; grid-row: 3 / 5; }   /* Tall bottom left */
.img7 { grid-column: 2 / 3; grid-row: 3 / 4; }   /* small box */
.img8 { grid-column: 3 / 5; grid-row: 3 / 4; }