.container {
  display: flex;  
  flex-wrap: wrap;   
  gap: 15px;            
  justify-content: center;
  margin-top: 20px;
}

span {
  display: flex;          /* text ko center karne ke liye */
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 225px;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: bold;
  margin-inline: 5px;
}

.bgc1 {
  background-color: rgb(46, 184, 230);
}

.bgc2 {
  background-color: #2ede2e;
}
.bgc3{
    background-color: rgb(201, 37, 37);
}
.bgc4{
    background-image: url('./bird.jpg');
    background-size: cover;
}
.bgc5{
    background-image: url('./bird.jpg');
    background-repeat: repeat;
}
.bgc6{
    background-image: url('./bird.jpg');
    background-repeat: repeat-x;
}
.bgc7{
    background-image: url('./bird.jpg');
    background-attachment: fixed;
}

.bgc8{
    background-image: url('./bird.jpg');
    background-position: center;
}
.bgc9{
    background-image: url('./bird.jpg');
    background-shorthand: url('./bird.jpg') center / cover no-repeat;
}
.bgc10 {
  background-image: 
    linear-gradient(to right bottom , orange 0% 20%, transparent 20% 100%), 
    url("./bird.jpg");
  background-size: cover;          /* image pura cover kare */
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(246, 224, 224);                    /* text visible ho */
}
.bgc11{
    background-image: url('./bird.jpg');
    background-size: cover;
}
.bgc12{
    background-image: url('./bird.jpg');
    background-size: cover;
   background-image: linear-gradient(to right, rgba(89, 16, 162, 0.779), rgba(5, 5, 165, 0.5)), url('./bird.jpg');
    background-blend-mode: multiply;
}
.bgc13 { 
  background-image: url("./bird.jpg"), url("./bird.jpg");
  background-position: left top, right bottom;  
  background-size: 60px, 60px;                  
  background-repeat: no-repeat, no-repeat;     
  background-color: rgb(85, 79, 79);                     
  color: white;  
 margin-top: 20px;                             
}
