*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(145deg,rgb(111, 111, 252),rgb(207, 245, 207));
}

h1{
    text-align: center;
}
#effects{
    margin: auto;
    max-width: 1280px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.effect{
    padding: 50px;
    background-color: aliceblue;
    border-radius: 20px;
    font-size: 32px;
    transition: all 1s ease;
}
.effect1:hover{
   transform: scale(1.1);
}
.effect2:hover{
   transform: scale(0.8);
}
.effect3:hover{
   transform: translateX(100px);
}
.effect4:hover{
   transform: translateY(100px)
}
.effect5:hover{
   transform: rotate(360deg);
}
.effect6:hover{
   transform: skew(40deg);
}

@media (max-width:576px) { /* mobile */
    body{
        background-image: none;
        background-color: green;

    }
  #effects{
    margin: auto;
    max-width: 400px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
   .effect{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 15px;
    font-size: 22px;
    transition: all 2s ease;
}
.effect1:hover{
   transform: scale(1.2);
}
.effect2:hover{
   transform: scale(0.7);
}
.effect3:hover{
   transform: translateX(100px);
}
.effect4:hover{
   transform: translateY(100px)
}
.effect5:hover{
   transform: rotate(360deg);
}
.effect6:hover{
   transform: skew(40deg);
}

}
@media (min-width:577px) and (max-width:768px){ /* mobile landscape ,tablet */

body{
        background-image: none;
        background-color: green;

    }
  #effects{
    margin: auto;
    max-width: 400px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
   .effect{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 15px;
    font-size: 22px;
    transition: all 2s ease;
}
.effect1:hover{
   transform: scale(1.2);
}
.effect2:hover{
   transform: scale(0.7);
}
.effect3:hover{
   transform: translateX(100px);
}
.effect4:hover{
   transform: translateY(100px)
}
.effect5:hover{
   transform: rotate(360deg);
 }
 .effect6:hover{
   transform: skew(40deg);
 }

}
@media (min-width:768px) and (max-width:1024px){ /* big tablets*/
   
}