* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: linear-gradient(rgb(107, 107, 232),aqua);
    background-repeat: no-repeat; */

}

header {
    display: flex;
    max-width: 1280px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 10px;
    justify-content: space-between;
    border-radius: 40px;
    box-shadow: 2px 3px 10px gray;
    align-items: center;
}

.logo {
    font-size: 45px;
    opacity: 0;
    color: blue;
    animation: fadeIn 4s both;
}
@keyframes fadeIn {
  0% { opacity: 0; }      
  50% { opacity: 0.4; }    
  75% { opacity: 0.7; }     
  100% { opacity: 1; }      
}
.socialmedia{
    animation: Button 4s both ;
}
@keyframes Button {
  0% { opacity: 0; }      
  50% { opacity: 0.2; }    
  75% { opacity: 0.5; }     
  100% { opacity: 1; }      
}

.logo>span {
    color: blue;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}


nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}

nav>ul>li>a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}
#hello{
    animation: Top 4s ease ;
}
@keyframes Top{
    0%{
        transform: translateX(-200px);
    }
    50%{
        transform: translateX(-10px);
        
    }
    100%{
        transform: translateX(0px);
    }
}
#list{
    animation: Navi 3s forwards;
}
@keyframes Navi{
      0%{
        transform: translateY(-180px);

      }
      100%{
        transform: translateY(0px);
      }
}

nav>ul>li>a:hover {
    color: blue;
}

nav button {
    padding: 10px;
    border-radius: 50%;
    

}


#banner {
    display: flex;
    max-width: 1280px;
    margin: 50px auto;
    gap: 100px;
}

.right>img {
    width: 100%;
    height: 90%;
    animation: slideFromRight 3s forwards  ;
    background-color: black ;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.left>h2 {
    font-size: 32px;

}

#role {
    color: blue;
}

.left>p {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(43, 42, 42);
    text-align: justify;
    line-height: 30px;
}
#a1{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;

}
#a2{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;

}

.btn1{
    background-color: black;
    color: white;
    padding: 2px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    height: 80px;
    width: 50%;

}
.btn2{
    background-color:white;
    color: black;
    padding: 2px;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    height: 80px;
    width: 50%;
  
}

.btn1:hover{
   transform:scale(1.2);
}
#a1:hover{
    color: blue;
    text-decoration: none;
}
.btn2:hover{
  transform: scale(1.2);

}
#a2:hover{
    color: blue;
    text-decoration: none;
}

/* banner css hogya */
/* skills section */
.title {
    text-align: center;
    font-size: 34px;
    margin: 20px auto;
    background: linear-gradient(to right, rgb(22, 239, 145), rgb(2, 2, 248));
    background-clip: text;
    color: transparent;
    letter-spacing: 3px;
}

section {
    margin: auto;
    max-width: 1280px;
    display: flex;
    gap: 30px;
}


.skill-tech {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px blue;
}
.frontend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.frontend1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

.skill {
    height: 100%;
    width: 100%;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project>img {
    width: 100%;
}

.project>button {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 20px;
}
.btn1>a{
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* project css hogya */
/* contact css starts */
#contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px auto;
    box-shadow: 5px 5px 10px blue;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.floating-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 10px;
}

.floating-whatsapp img {
    height: 100px;
    width: 100px;
    animation: zoomIn 0.5s ease alternate infinite;

}

/* animations */
@keyframes slideFromRight {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);
    }
}



@keyframes zoomIn {
    100% {
        transform: scale(1.1);
    }
}

/* media queries */

@media (max-width:576px) {
header {
        flex-direction: column;
        gap: 20px;
        margin: 50px;
    }

nav {
        flex-direction: column;
    }

#banner {
        flex-direction: column;
    }

section {
        margin: 25px !important;
    }

.right>img {
        display: none;
    }

.buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

#skills {
        flex-direction: column;
    }

#projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:577px) and (max-width:768px) {
    header {
        flex-direction: column;
        gap: 20px;
        margin: 50px;
    }

    nav {
        flex-direction: column;
    }

    #banner {
        flex-direction: column;
    }

    section {
        margin: 40px !important;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #skills {
        flex-direction: column;
    }

    #projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:769px) and (max-width:996px) {
    header{
        margin: 20px;
    }
    #banner{
        margin: 20px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #skills{
        padding: auto;
        margin: 20px;
    }
    #projects{
        margin: 20px;
        padding: auto;
    }
    .floating-whatsapp{
        height: 80px;
        width: 90px;
    }
    .right{
        height: 650px;
        width: 1100px;
    }

}

@media (min-width:996px) and (max-width:1270px) {
 header{
    margin: 20px;
 }
 #banner{
    margin: 20px;
 }
 
}