.cls1,.cls2,.cls3,.cls4,.cls5{
    border: 1px dashed black;
    height: 200px;
    width:100%;
}
.box1{
    color: white;
    top: 15px;
    position: static;
    border: 1px solid black;
    height: 100px;
    width: 90px;
    border-radius: 10px;
    margin: 10px;
    align-content: center;
    text-align: center;
    background-color:rgb(77, 200, 206);
}
.box2{
    color: white;
    white-space: nowrap;
    top: 22px;
    position:relative;
    border: 1px solid black;
    height: 100px;
    width: 90px;
    border-radius: 10px;
    margin: 10px;
    align-content: center;
    text-align: center;
    background-color:rgb(23, 216, 55);
}
.box3{
    color: white;
    white-space: nowrap;
    position:absolute ;
    right: 10px;
    border: 1px solid black;
    height: 100px;
    width: 90px;
    border-radius: 10px;
    margin: 10px;
    align-content: center;
    text-align: center;
    background-color:orange;
    
}
.box4{
    color: white;
    border: 2px solid;
    height: 100px;
    width: 90px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    background-color:rgb(182, 11, 182);
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.box5{
    margin: 10px;
    color: white;
    border: 2px solid;
    height: 100px;
    width: 90px;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    background-color:rgb(255, 59, 59);
    position: sticky;
    top: 10px;
    
}
.cls5{
    background-color: rgb(214, 231, 236);
    height: 500px;
}