*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content:space-evenly;
    align-items: center;
    border: 5px dotted red;
}
.child{
    background-color: green;
    color: white;
    font-size: 24px;
    border: 1px solid white;
    height: 50px;
    width: 80px;
}