*{
    margin: 0;
    padding: 0;
     
}
.container{
    display: flex;
    justify-content: start;
    padding-top: 0px;
}
.main{
    height: 15vh;
    width:100%;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    padding-top: 20px;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 10px;
    align-items: center;
    margin-left: 0px;
    background: linear-gradient( rgb(188, 108, 197),rgb(113, 229, 238),rgb(94, 67, 107))
}
h1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    letter-spacing: 3px;
}
/* .con2{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-top: 30px;
    flex-direction: row;
    border: 5px solid white;
    margin-left: 10px;

} */
.container{
    position: sticky;
    top: 10px;
    left:5px;
}
.img{
    /* border: 2px solid rgb(3, 204, 47);
    border-radius: 20px; */
}
/* body{
    background: linear-gradient(hwb(282 29% 11%),rgb(212, 109, 145),rgb(67, 211, 100));
} */
 .images{
    display: flex;
    justify-content: center;
    gap: 100px;
    transition: all 1s ease;
 }
 .p1:hover{
    filter: grayscale(100%);
 }
  .p2:hover{
    filter: grayscale(100%);
 }
  .p3:hover{
    filter: grayscale(100%);
 }
  .p4:hover{
    filter: grayscale(100%);
 }
  .p5:hover{
    filter: grayscale(100%);
 }
  .p6:hover{
    filter: grayscale(100%);
 }
 .main2{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    row-gap: 30px;
    column-gap: 10px;
 }
 body{
    background: linear-gradient(rgb(37, 35, 35),rgb(69, 85, 104),rgb(37, 34, 35))
 }
 h2{
    letter-spacing: 2px;
    font-size: 30px;
    color: floralwhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    transition: all 1s ease;
 }
 h2:hover{
   color: rgb(161, 10, 248);
   
 }
 button{
    height: 70px;
    width: 160px;
    border: 2px solid white;
    border-radius: 20px;
    color:white;
    background-color: rgb(37,37,37);
    font-size: 15px;
    letter-spacing: 1px;
    font-family:cursive;
    transition: all 1s ease;
 }
 button:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
    cursor: pointer;
 }
 #bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1 ;
    object-fit: cover;
 }




 