*{
    margin: 0;
    padding: 0;   
}
.container{
    display: flex;
    justify-content: start;
    padding-top: 0px;
}
.main{
    height: 15vh;
    width:80%;
    display: flex;
    gap: 60px;
    justify-content: 
    padding-top: 10px;
    padding-left: 130px;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
    
}

h3{
   font-family:'Times New Roman', Times, serif;
      font-size: 18px;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      color:yellow;
      letter-spacing: 2px;
}

.container{
    position: sticky;
    top: 10px;
    left:5px;
}
.img{
      height: 50px;
      width: 50px;
      padding-left: 100px;
}

 .images{
    display: flex;
    justify-content: center;
    gap: 60px;
    transition: all 1s ease;
 }

  .p:hover{
   filter:grayscale(100%);
   
 
  }
 .main2{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    row-gap: 30px;
    column-gap: 10px;
 }
 body{
    background: linear-gradient(rgb(37, 35, 35),rgb(69, 85, 104),rgb(37, 34, 35))
 }
 h2{
    letter-spacing: 2px;
    font-size: 30px;
    color: floralwhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    transition: all 1s ease;
 }
 h2:hover{
   color: rgb(161, 10, 248);
   
 }
 button{
    height: 70px;
    width: 160px;
    border: 2px solid white;
    border-radius: 20px;
    color:white;
    background-color: rgb(37,37,37);
    font-size: 15px;
    letter-spacing: 1px;
    font-family:cursive;
    transition: all 1s ease;
 }
 button:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
    cursor: pointer;
 }
 #bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1 ;
    object-fit: cover;
 }




 